* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #20B2AA;
}

input, textarea, button{
  border-radius: 5px;
  border: 1px solid #8B4513;

}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
  background-image: url("/static/img/banner-bg1.jpg");
  border-radius: 10px;
}

.header img {
  background-color: white;
  padding: 5px;
  width:20%;
  height:20%;
  border-radius: 100%;
  position: relative;
  border: 2px solid #8B4513;
  padding: 5px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #B22222;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-radius: 10px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #FFFAF0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: right;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 30%;
  background-color: #20B2AA;
  padding-right: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #B22222;
  color: #FFFAF0;
  width: 100%;
  height: auto;
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.fakeimg a{
  background-color: #B22222;
  color: #FFFAF0;
  text-decoration: none;
}

/* Chi Siamo Image */
.chisiamoImg{
  border: 1px solid #8B4513;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

/* Cheff Image */
.cheffImg {
  display: flex;
}

.cheffImg img{
  display: inline;
  border: 1px solid #8B4513;
  border-radius: 4px;
  padding: 5px;
  width-max: auto;
  width:50%;
  height-max:auto;
}

.specialImg img{
  width:100%;
  height:auto;
  padding: 5px;
  border: 1px solid #8B4513;
  border-radius: 4px;
}

/* Orders Card Home */
.orderHome{
  padding: 5px;
  width: 100%;
}

/* Add a card effect for articles */
.card {
  background: #FFFFE0;
  color: #696969;
  padding: 10px;
  border: 1px solid #8B4513;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.sm-card {
  background-color: #FFFFE0;
  color: #696969;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #8B4513;
}

.sm-icons a {
  width: 100%;
  padding: 20px;
  float: center;
  display: inline;
  color: #FFFAF0;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sm-icons a:hover {
  text-decoration: none;
  color: black;
}

.sm-icons {
  background-color: #B22222;
  color: #FFFAF0;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  border-radius: 10px;
}

/* Google Maps */
.gmap_canvas{
    float: center;
    overflow:hidden;
    background:none!important;
    height:auto;
    width:auto;
}

.gmap_canvas #gmap_canvas {
    border: 1px solid #8B4513;
    border-radius: 4px;
    padding: 5px;
}

#gmap-card {
    position:relative;
    text-align:center;
    height:auto;
    width:auto;
}

/* Contact Details */
.contacts{
    padding: 10px;
    border: 1px solid #8B4513;
    border-radius: 4px;
}

#contactSign{ /* button */
    background-color: grey;
    border: none;
    border-radius: 5px;
    padding: 12px 100px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Rest Images */
.rowImg {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 4px;
  background: #FFFFE0;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #8B4513;
}

.restImages {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 4px;
}

.restImages img {
  margin-top: 8px;
  vertical-align: middle;
  border: 1px solid #8B4513;
  border-radius: 4px;
  padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Review Form - Collapsible */

#reviewForm {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
}

#revDisp list{
  padding-right:20px;
}

#formRev input{
  width: auto;
  font-size: 18px;
}

.active, #reviewForm:hover {
  background-color: #555;
}

.formCont {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

#formDv {
  padding: 15px;
  border-radius: 10px;
  display: none;
  padding: 10px;
  border: 1px solid #8B4513;
  background-color: #f7f7f7;
}

.rating {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  max-width: 50%;
}

span.rating {
  margin-left:auto;
  margin-right: auto;
}

.hover {
  color: orange;
  cursor: pointer;
}

.star{
  font-size: 30px;
}

#review {
  width: 50%;
  height: 75px;
}

#revDiv{
  border: 1px solid #8B4513;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  padding-top: 15px;
  height: auto;
  width: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #B22222;
  margin-top: 20px;
  border-radius: 10px;
}

.footer a {
  float: center;
  display: inline;
  color: #FFFAF0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1150px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .cheffImg {
  display: inline;
   }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 414px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  .cheffImg {
    display: inline;
    display:block;
    margin-left:auto;
    margin-right:auto;
    }
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-btn {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  width: 280px;
  border-radius: 10px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  z-index: 9;
}

/* menu */

td {
   text-align: left;
   width: auto;
}

.menu_items {
   width: 100%;
}

.menu_items #tabHead{
    font-size: 20px;
}

.menuImg {
    height:auto;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.menuImg img {
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    width:auto;
    height:auto;
    max-width: 75%;
    max-height:250px;
    border: 1px solid #8B4513;
    border-radius: 4px;
}

/* Login and Signup Forms */


.form {
    display: block;
    text-align: center;
    height: auto;
    width: auto;
}

#loginForm #signupForm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#submtbtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

#loginForm input {
    width: 30%;
    width-max: auto;
    height-max: auto;
    font-size: 18px;
}

#signupForm input {
    width: 30%;
    width-max: auto;
    height-max: auto;
    font-size: 18px;
}

/* Orders */

#orderRequest {
    width: 50%;
    height: 75px;
}

.orderForm span{
    cursor: pointer;
}

.appending_field table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
}


/* The MODAL (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  border: 1px solid #8B4513;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myModal {
  -webkit-transform: translate3d(0, 0, 0);
}

/* admin page */

.list_reports {
   width: 100%;
   height: auto;
   border: 1px solid #8B4513;
   border-radius: 5px;
   border-color: #B22222;
   color: black;
   height-max: 10px;
   overflow: scroll;
}

.list_reports #tabHead{
    font-size: 20px;
}

#totalSales{
    background: #B22222;
    width: 30%;
    color: #FFFFE0;
    margin-right: auto;
    margin-left: auto;
}

.subcard {
  display: flex;
  height: auto;
  height-max: 250px;
  width: auto;
  /*overflow-y: scroll;*/
}

.subcard tbody{
  display: inline;
  border: 1px solid #8B4513;
  border-radius: 4px;
  padding: 5px;
  width-max: auto;
  width:50%;
  height-max:auto;
}

.subcard #charts{
  display: inline;
  width: auto;
  height: auto;
  text-align: center;
  margin-right: auto;
  margin-left: 5px;
  border: 1px solid #8B4513;
  border-radius: 4px;
  padding: 5px;
}