<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
    <body>

        <div class="header" style="background-image: url(/static/img/banner-bg1.jpg); border-radius: 10px;">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar" style="width:20%;height:20%; padding: 5px"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="logout" style="float:right">Log out</a>
        </div>

        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>Today's Overview</h2>
              <h5>Head Cheff, since Dec 7, 2017</h5>
              <div class="cheffImg">
                  <img src="/static/img/sales.jpg" alt="This is Sales List" style="width:100%;height:300px; padding: 5px"> <img src="/static/img/orders.jpg" alt="This is Order's List" style="width:100%;height:300px; padding: 5px">
              </div>
              <p>Just about love cooking...</p>
              <p>“For us, the welcome sign is feeding people. At the heart of every cuisine, whether rich or poor, is the spirit of conviviality, the pleasure that comes from sharing a meal with others. And there is no pleasure in food without quality.”</p>
            </div>
            <div class="card">
              <h2>The House Speciality</h2>
              <h5>Traditional South Italian Food</h5>
              <div class="cheffImg"><img src="/static/img/speciality.jpg" alt="Restaurants Bar" style="width:100%;height:600px; padding: 5px"></div>
              <p>A Mediterranean Simplicity...</p>
              <p>Swordfish alla Calabrese, it is one of the most traditional way in Italy to prepare swordfish. Simple yet delicious, it can make you feel the Mediterranean Sea taste in your mouth.</p>
              <p>Salmoriglio is a vibrant Italian sauce of olive oil, lemon, garlic, parsley, and oregano. Drizzled over grilled fish it really enhances the flavor of the seafood and is delicious. Freshness is key for this vibrant sauce, so we make it as close to serving time as possible.</p>
            </div>
          </div>
          <div class="rightcolumn">
            <div class="card">
              <h2>Hello {{ fname }}</h2>
              <div class="chisiamoImg"><img src="/static/img/none.jpg" alt="This is some info, this month sales" style="width:100%;height:200px;"></div>
              <p>blah blah</p>
            </div>
            <div class="card">
              <h3>Restaurant Real Time</h3>
              <div class="orderHome">
                  <div class="fakeimg"><a href="kitchen" target="_window">Kitchen</a></div><br>
                  <div class="fakeimg"><a href="floor" target="_window">Floor</a></div><br>
              </div>
            </div>
            <div class="sm-card">
              <h3>Check Restaurant's Social Medias</h3><br>
              <div class="sm-icons">
                  <a href="https://instagram.com" target="_window" class="fa fa-instagram"></a>
                  <a href="https://twitter.com" target="_window" class="fa fa-twitter"></a>
                  <a href="https://www.facebook.com" target="_window"  class="fa fa-facebook"></a>
                  <a href="https://youtube.com" target="_window" class="fa fa-youtube"></a>
              </div><br>
              <h2>Check the Latest Reviews</h2><br>
              <button onclick="reviewForm" id="reviewForm">Review</button><br>

              <div style="display:none" id="formDv">
                  <form action="#" method="post" id="formCont"><br/>
                      <input placeholder="Name" type="text" name="name" id="name" required><br/>
                      <br/>
                      <input placeholder="Email" type="email" name="email" id="email" required><br/>
                      <br/>
                      <ul class="rating">
                          <li class="rating-item active" data-rate="1"></li>
                          <li class="rating-item" data-rate="2"></li>
                          <li class="rating-item" data-rate="3"></li>
                          <li class="rating-item" data-rate="4"></li>
                          <li class="rating-item" data-rate="5"></li>
                      </ul>
                      <br/>
                      <textarea placeholder="Write your review" name="review" id="review" maxlength="500"></textarea><br/><br/>
                      <input type="submit" value="Confirm" id="submRev">
                  </form>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>


        <script type="text/javascript" src="/static/js/main.js"></script>

    </body>
</html>