<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=width=device-width, initial-scale=1">
        <title>Admin - Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
    <body>

        <div class="header">
          <a href="admin"><img src="/static/img/logo.jpg.png" alt="Restaurants Logo"></a>
        </div><br>

        <div class="topnav">
          <a href="adm_menu">Menus</a>
          <a href="staff">Staffs</a>
          <a href="logout" style="float:right">Log out</a>
        </div>

        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>Hello {{ fname }}</h2>
                <h3>Restaurant's Today Sales Report</h3>
                <table class="list_reports">
                    <tbody>
                    <tr>
                         <td style="text-align: center; background: #B22222; color: #FFFFE0;">Order Type</td>
                         <td style="text-align: center; background: #B22222; color: #FFFFE0;">Order Details</td>
                         <td style="text-align: center; background: #B22222; color: #FFFFE0;">Order Amount</td>
                     </tr>
                    {% for row in monthSalesReport %}
                     <tr>
                         <td style="text-align: center;">{{row[0]}}</td>
                         <td style="text-align: center;">{{row[1]}}</td>
                         <td style="text-align: center;">€{{row[2]}}</td>
                     </tr>
                     {% endfor %}
                     </tbody>
                </table>
                <p>Today $ales</p>
                <h1 id="totalSales" style="border-radius: 4px;">€{{ totalSalesAmount }}</h1>
            </div>
            <div class="card">
              <h2>Month Overview</h2>
              <div class="subcardDiv">
                  <table class="subcard">
                  <tbody>
                    {% for row in todaySalesReport %}
                     <tr>
                         <td style="text-align: center; width: 15%">{{row[0]}}</td>
                         <td style="text-align: center; width: 15%">€{{row[1]}}</td>
                     </tr>
                     {% endfor %}
                     {% for row in todaySalesCountAmount %}
                     <tr>
                         <td style="text-align: center; width: 15%; background: #B22222; color: #FFFFE0;">Numb. Orders: {{row[0]}}</td>
                         <td style="text-align: center; width: 15%; background: #B22222; color: #FFFFE0;">Total amount: €{{row[1]}}</td>
                     </tr>
                     {% endfor %}
                    </tbody>

                  <tbody>
                     <tr>
                         <td style="text-align: center; width: 15%; background: #B22222; color: #FFFFE0;">Order Type</td>
                         <td style="text-align: center; width: 15%; background: #B22222; color: #FFFFE0;">Order's Quantity</td>
                         <td style="text-align: center; width: 15%; background: #B22222; color: #FFFFE0;">Order's Total Amount</td>
                     </tr>
                     <tr>
                     </tr>
                     <tr>
                         <td style="text-align: center; width: 15%">Delivery:</td>
                         <td style="text-align: center; width: 15%">{{ deliveryCount }}</td>
                         <td style="text-align: center; width: 15%">€{{ deliveryAmount }}</td>
                     </tr>
                     <tr>
                         <td style="text-align: center; width: 15%">Collection:</td>
                         <td style="text-align: center; width: 15%">{{ collectionsCount }}</td>
                         <td style="text-align: center; width: 15%">€{{ collectionsAmount }}</td>
                     </tr>
                     <tr>
                         <td style="text-align: center; width: 15%">Guests:</td>
                         <td style="text-align: center; width: 15%">{{ guestCount }}</td>
                         <td style="text-align: center; width: 15%">€{{ guestAmount }}</td>
                     </tr>

                    </tbody>
                    </table>
                    <br>
              </div>
            </div>
          </div>


          <div class="rightcolumn">
            <div class="card">
              <h2>Dash Board</h2>
              <h5>Orders Type Quantity Chart</h5>
                <div class="cheffImg"><img src="static/img/pChart.png" alt="Orders Type Quantity Chart" style="margin-left: auto; margin-right: auto"></div>
              <h5>Orders Type Amount Chart</h5>
                <div class="cheffImg"><img src="static/img/pChartA.png" alt="Orders Type Amount Chart" style="margin-left: auto; margin-right: auto"></div>
              </div>

            <div class="card">
              <h3>Restaurant's Real Time</h3>
              <div class="orderHome">
                  <div class="fakeimg"><a href="kitchen" target="window">Kitchen</a></div><br>
                  <div class="fakeimg"><a href="floor" target="window">Floor</a></div><br>
              </div>
            </div>

            <div class="sm-card">
              <h3>Manage Restaurant's Social Medias</h3><br>
              <div class="sm-icons">
                  <a href="https://instagram.com" target="window" class="fa fa-instagram"></a>
                  <a href="https://twitter.com" target="window" class="fa fa-twitter"></a>
                  <a href="https://www.facebook.com" target="window"  class="fa fa-facebook"></a>
                  <a href="https://youtube.com" target="window" class="fa fa-youtube"></a>
              </div><br>

            </div>
          </div>
        </div>

        <div class="footer">
              <a href="#">The Team & Careers</a> |
              <a href="#">Contact Us</a>
        </div>


        <script type="text/javascript" src="/static/js/main.js"></script>

    </body>
</html>
