<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>

    </style>
    </head>
        <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="#">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="logout" style="float:right">Log out</a>
        </div>

        <div class="content">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h2>Our Options</h2>
                        <h5>Our menu is carefully selected daily with fresh ingredients</h5>
                        <div class="fakeimg">
                            <div class="menu">
                                <table id="menuMain" class="menu_items">
                                    <h3 id="tabHead1">Mains</h3><br>
                                    <tbody>
                                    {% for row in meal_list %}
                                    <tr>
                                        <td style="text-align: center; width: 15%">{{row[0]}}</td>
                                        <td style="text-align: center; width: 50%">{{row[1]}}</td>
                                        <td style="text-align: center;">{{row[2]}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <table id="menuDess" class="menu_items">
                                    <h3 id="tabHead2">Desserts</h3><br>
                                    <tbody>
                                    {% for row in dessert_list %}
                                     <tr>
                                         <td style="text-align: center; width: 15%">{{row[0]}}</td>
                                         <td style="text-align: center; width: 50%">{{row[1]}}</td>
                                         <td style="text-align: center;">{{row[2]}}</td>
                                     </tr>
                                     {% endfor %}
                                     </tbody>
                                </table>

                                <table id="menuDrink" class="menu_items">
                                    <h3 id="tabHead3">Drinks</h3><br>
                                    <tbody>
                                        {% for row in drink_list %}
                                        <tr>
                                            <td style="text-align: center; width: 15%">{{row[0]}}</td>
                                            <td style="text-align: center; width: 50%">{{row[1]}}</td>
                                            <td style="text-align: center;">{{row[2]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p>Please ask for the allergens list</p>
                    </div>
                </div>
                <div class="rightcolumn">
                    <div class="card">
                        <h2>Hello {{ fname }}</h2>
                        <div class="orderForm">
                            <form action="#" method="post" id="cxOrder"><br/>

                                <label for="oType" style="color:silver">Delivery/ Collection</label><br><br>
                                <input id="oType" list="orderTypes" name="oType" value="" required><br/>
                                <datalist id="orderTypes">
                                    <option value="Delivery">
                                    <option value="Collection">
                                    <option value="Sit In">
                                </datalist>
                                <br/>

                                <datalist id="menu">
                                    {% for row in items_list %}
                                    <option value="{{row[0]}}">{{row[0]}}</option>
                                    {% endfor %}
                                </datalist>
                                    <div class="appending_div">
                                        <div class="appending_field">
                                            <table id="orderTable">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table></br>
                                            <div class="row m-0">
                                                <button class="btn btn-warning" onclick="addRow()">Add Item</button>
                                                <button type="submit">Add to Basket</button>
                                                <tbody>
                                                </tbody>
                                            </div>
                                        </div>
                                    </div>
                                <br/>
                                <br/>
                                <textarea placeholder="Special requests" name="request" id="orderRequest" maxlength="300"></textarea><br/><br/>
                                <input type="button" id="toModal" data-target="myModal" value='Check Out' title='Click to submit' style="width: 30%;">
                            </form>
                        </div>

                        <div id="myModal" class="modal">
                            <div class ="modal-content">
                                <span><a class="close" href="order">&times;</a></span>
                                <form method="post" id="modalConfirm">
                                    <h2>Your order</h2><br>
                                    <div class="subOrder">
                                        <table id="orderConf">
                                            <thead>
                                                <tr>
                                                    <th style="width: 15%; text-align: center;">Quantity</th>
                                                    <th style="width: 50%; text-align: center;">Item</th>
                                                    <th style="text-align: center;">Item Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in submitOrder %}
                                                    <tr>
                                                        <td style="width: 15%; text-align: center;">{{i[0]}}</td>
                                                        <td style="width: 50%; text-align: center;">{{i[1]}}</td>
                                                        <td style="text-align: center;">{{i[2]}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table></br>

                                        <h3 style="text-align: right;">Total amount:</h3>
                                        {% if subtotal %}
                                            <option value="{{subtotal}}" style="text-align: right;">€{{subtotal}}</option>
                                        {% endif %}
                                        <br/>
                                        <button type="submit" value="Confirm Order" id="subOrder" name="subOrder" onclick="OrderConfirmed()" form="modalConfirm">Confirm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>

    <script type="text/javascript" src="/static/js/order.js">
        function.refreshPage(){
            window.location.reload();
        }
    </script>
    </body>
</html>