<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header" style="background-image: url(/static/img/banner-bg1.jpg); border-radius: 10px;">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar" style="width:15%;height:15%; padding: 5px"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="#">Find Us</a>
          <a href="login" style="float:right">Log In</a>
        </div>

        <div class="content">
<!--            This will be Menu content-->

            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <div class="gmap_canvas">
                            <iframe width="1000" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=25%20grafton%20street&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://123movies-to.org"></a><br>
                            <style>.mapouter{position:relative;text-align:right;height:auto;width:auto;}</style>
                            <a href="https://www.embedgooglemap.net">custom google map embed</a>
                            <style>.gmap_canvas {overflow:hidden;background:none!important;height:auto;width:auto;}</style>
                        </div>
                    </div>
                </div>


                <div class="rightcolumn">
                    <div class="card">
                        <div class="contacts">
                            <h2>Contact</h2>
                            <p>Reggio Cantina Dublin, 25 Grafton Street, Dublin 02, Ireland</p>
                            <p>Telephone: <a href="tel:+353 1 123 4567">+353 1 123 4567</a></p>
                            <p>Email: <a href="reggio@reggio.cantina.ie">reggio@reggio.cantina.ie</a></p><br>
                            <h3>Reggio Cantina Opening Times</h3>
                            <p>Monday - Friday 5pm - late</p>
                            <p>Saturday & Sunday 1pm - late</p><br>
                            <h3>Why not sign up to our newsletter and discounts?</h3><br>
                            <a href="/signup" id="contactSign">Sign Up</a><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>