<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Floor - Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
    <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Logo"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="logout" style="float:right">Log out</a>
        </div>

        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>Today's Deliveries / Collections Orders</h2>
                <div style="width: 100%">
                  <table class="subcard" id="subcard">
                      <tbody>
                        {% for row in colDevOrder %}
                         <tr style="width: 100%">
                             <td style="width: 5%">{{row[0]}}</td>
                             <td style="width: 15%">{{row[1]}}</td>
                             <td style="width: 75%; background: #B22222; color: #FFFFE0;">{{row[2]}}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>
            <div class="card">
              <h2>Today's Sit In Orders</h2>
                <div style="width: 100%">
                  <table class="subcard" id="subcard1">
                      <tbody>
                        {% for row in guestsOrder %}
                         <tr>
                             <td style="width: 5%;">{{row[0]}}</td>
                             <td style="width: 15%">{{row[1]}}</td>
                             <td style="width: 75%; background: #B22222; color: #FFFFE0;">{{row[2]}}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>
            <div class="card">
              <h2>Today's Bills</h2>
                <div style="width: 100%">
                  <table class="subcard" id="subcard1">
                      <tbody>
                        <tr>
                          <th>Order ID</th>
                          <th>Order Type</th>
                          <th>Items</th>
                          <th>Order Status</th>
                          <th>Total Amount</th>
                        </tr>
                        {% for row in kitchenOrders %}
                         <tr>
                             <td style="width: 10%;">{{row[0]}}</td>
                             <td style="width: 15%">{{row[1]}}</td>
                             <td style="width: 15%">{{row[2]}}</td>
                             <td style="width: 15%">{{row[3]}}</td>
                             <td style="width: 20%; background: #B22222; color: #FFFFE0;">€{{row[4]}}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>
          </div>
          <div class="rightcolumn">
            <div class="card">
              <h2>Hello {{ fname }}</h2>
                <p>Today's orders Overview</p>
              <div class="chisiamoImg">
                  <h3>Total number of deliveries: {{ delivCount }}</h3>
                  <h3>Total number of guests: {{ guestsCount }}</h3>
                  <h3>Today's Total Sales: €{{ floorTotalSales }}</h3>
              </div>
            </div>
            <div class="card">
                <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Dublin/time" style="text-decoration: none" class="clock24" id="tz24-1661612438-c178-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjMwYTMxOTYzZGVjOSIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="World Clock :: Dublin" target="_blank" rel="nofollow">Current time in Dublin</a></p><div id="clock_block_cb630a31963dec9"></div></div>
            </div>

          </div>
        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>


        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

    </body>
</html>