<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">

    <style>

    </style>
    </head>
        <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Logo"></a>
        </div><br>

        <div id="errorMsg">
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
          {% endif %}
        </div>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="login" style="float:right">Log In</a>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>Cheff. Roberto Allegro</h2>
              <h5>Head Cheff, since Dec 6, 2017</h5>
              <div class="cheffImg">
                  <img src="/static/img/cheff1.jpg" alt="Our starred cheff">
                  <img src="/static/img/cheff2.jpg" alt="Image of our Kitchen">
              </div>
              <p>Just about love cooking...</p>
              <p>“For us, the welcome sign is feeding people. At the heart of every cuisine, whether rich or poor, is the spirit of conviviality, the pleasure that comes from sharing a meal with others. And there is no pleasure in food without quality.”</p>
            </div>
            <div class="card">
              <h2>The House Speciality</h2>
              <h5>Traditional South Italian Food</h5>
              <div class="specialImg"><img src="/static/img/speciality.jpg" alt="Swordfish Dish Image"></div>
              <p>A Mediterranean Simplicity...</p>
              <p>Swordfish alla Calabrese, it is one of the most traditional way in Italy to prepare swordfish. Simple yet delicious, it can make you feel the Mediterranean Sea taste in your mouth.</p>
              <p>Salmoriglio is a vibrant Italian sauce of olive oil, lemon, garlic, parsley, and oregano. Drizzled over grilled fish it really enhances the flavor of the seafood and is delicious. Freshness is key for this vibrant sauce, so we make it as close to serving time as possible.</p>
            </div>
          </div>

          <div class="rightcolumn">
            <div class="card">
              <h2>Chi siamo</h2>
              <div class="chisiamoImg"><img src="/static/img/rest3.jpg" alt="Restaurant's Saloon" style="width:100%;height:auto;"></div>
              <p>One of the finest Michelin-starred restaurants in Dublin, noted as much for its conviviality as the quality of its food.</p>
            </div>
            <div class="card">
              <h3>Order On-Line</h3>
              <div class="orderHome">
                  <div class="fakeimg"><a href="/order">Delivery</a></div><br>
                  <div class="fakeimg"><a href="/order">Collection</a></div><br>
              </div>
            </div>
            <div class="sm-card">


            <h2 id="tabHead">Reviews</h2>
            <div id="revDiv" >
               <list id="revDisp">
                    {% for row in review_list %}
                       <option value="{{row[0]}}" style="font-weight: bold; font-size:20px;">{{row[0]}}</option><br>
                       <option value="{{row[1]}}" style="font-style: italic;">{{row[1]}}</option><br>
                       <option value="{{row[2]}}" style="font-weight: bold;">
                           <span class="rating" data-rating="{{row[2]}}">
                            <i class="star" data-checked="false" data-note="1">&#9733;</i>
                            <i class="star" data-checked="false" data-note="2">&#9733;</i>
                            <i class="star" data-checked="false" data-note="3">&#9733;</i>
                            <i class="star" data-checked="false" data-note="4">&#9733;</i>
                            <i class="star" data-checked="false" data-note="5">&#9733;</i>
                          </span>
                       </option><br>
                    {% endfor %}
               </list>
            </div><br><br>

              <button onclick="reviewForm" id="reviewForm">Write a Review</button><br>
              <div id="formDv">
                  <form action="#" method="post" id="formRev"><br/>
                      <input placeholder="Name" type="text" name="name" id="name" required><br/>
                      <br/>
                      <input placeholder="Email" type="email" name="email" id="email" required><br/>
                      <br/>
                      <input type="text" name="note" id="note" value="" onchange="updateInput(this.value)" style="display:none">
                      <div name="note">
                      <span class="rating" data-rating="0">
                        <p class="star" data-checked="false" data-note="1">&#9733;</p>
                        <p class="star" data-checked="false" data-note="2">&#9733;</p>
                        <p class="star" data-checked="false" data-note="3">&#9733;</p>
                        <p class="star" data-checked="false" data-note="4">&#9733;</p>
                        <p class="star" data-checked="false" data-note="5">&#9733;</p>
                      </span>
                      <span>
                        <i class="note" style="display:none"></i>
                      </span>
                      </div>

                      <br/>
                      <textarea placeholder="Write your review" name="review" id="review" maxlength="300"></textarea><br/><br/>
                      <button type="submit" value="Confirm" id="submRev" onclick="alert">Confirm</button>
                  </form>
              </div>
              <h3>Follow Us on</h3><br>
              <div class="sm-icons">
                  <a href="https://instagram.com" target="window" class="fa fa-instagram"></a>
                  <a href="https://twitter.com" target="window" class="fa fa-twitter"></a>
                  <a href="https://www.facebook.com" target="window" class="fa fa-facebook"></a>
                  <a href="https://youtube.com" target="window" class="fa fa-youtube"></a>
              </div><br>
            </div>
          </div>
        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>


        <script type="text/javascript" src="/static/js/main.js"></script>

    </body>
</html>

