<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Kitchen - Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
    <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Logo"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="logout" style="float:right">Log out</a>
        </div>

        <div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>Today's Orders</h2>
                <div style="width: 100%">
                <form action="#" method="POST">
                  <table class="subcard" id="subcard">
                      <tbody>
                        {% for row in kitchenOrders %}
                         <tr style="width: 100%">
                             <td style="width: 5%"><button type="submit" name="kitcButton" value="{{row[0]}}" onclick="removeRow(this); getValue(this)">{{row[0]}}</button></td>
                             <td style="width: 15%">{{row[1]}}</td>
                             <td style="width: 75%; background: #B22222; color: #FFFFE0;">{{row[2]}}</td>
                         </tr>
                        <input type="hidden" id="myInput" name="testID" value="">
                        {% endfor %}
                      </tbody>
                  </table>
                  <button type="submit">Confirm</button>
                </form>
                </div>
            </div>
          </div>
          <div class="rightcolumn">
            <div class="card">
              <h2>Hello {{ fname }}</h2>
                <p>Orders Open Overview</p>
              <div class="chisiamoImg">
                  <h3>Total number of deliveries/collection: {{ delivCount }}</h3>
                  <h3>Total number of guests: {{ guestsCount }}</h3>
              </div>
            </div>
            <div class="card">
                <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Dublin/time" style="text-decoration: none" class="clock24" id="tz24-1661612438-c178-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjMwYTMxOTYzZGVjOSIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="World Clock :: Dublin" target="_blank" rel="nofollow">Current time in Dublin</a></p><div id="clock_block_cb630a31963dec9"></div></div>
            </div>

          </div>
        </div>

        <div class="footer">
              <a href="#">The Team & Careers</a> |
              <a href="#">Contact Us</a>
        </div>


        <script>
            function removeRow(r) {
              var i = r.parentNode.parentNode.rowIndex;
              document.getElementById("subcard").deleteRow(i);
            }
            function removeRow1(r) {
              var i = r.parentNode.parentNode.rowIndex;
              document.getElementById("subcard1").deleteRow(i);
            }

            function getValue(o) {
              var x = o.innerHTML;document.getElementById('myInput').value = x;
            }

        </script>
        <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

    </body>
</html>