{% extends "template.html" %}
{% block content %}
<div class="row">
          <div class="leftcolumn">
            <div class="card">
              <h2>Roberto Bagnollo</h2>
              <h5>Head Cheff, since Dec 7, 2017</h5>
              <div class="fakeimg" style="height:200px;">Image</div>
              <p>Just about love cooking...</p>
              <p>“For us, the welcome sign is feeding people. At the heart of every cuisine, whether rich or poor, is the spirit of conviviality, the pleasure that comes from sharing a meal with others. And there is no pleasure in food without quality.”</p>
            </div>
            <div class="card">
              <h2>TITLE HEADING</h2>
              <h5>Title description, Sep 2, 2017</h5>
              <div class="fakeimg" style="height:200px;">Image</div>
              <p>Some text..</p>
              <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
          </div>
          <div class="rightcolumn">
            <div class="card">
              <h2>Chi siamo</h2>
              <div class="fakeimg" style="height:100px;">Image</div>
              <p>One of the finest Michelin-starred restaurants in Dublin, noted as much for its conviviality as the quality of its food.</p>
            </div>
            <div class="card">
              <h3>Order On-Line</h3>
              <div class="fakeimg"><a href="#">Delivery</a></div>
              <div class="fakeimg"><a href="#">Collection</a></div>
              <div class="fakeimg"><a href="#">Image</a></div>
            </div>
            <div class="sm-card">
              <a href="#">Instagram</a>|
              <a href="#">Twitter</a>
            </div>
          </div>
        </div>
{% endblock %}