<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="#">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="login" style="float:right">Log In</a>
        </div>

        <div class="content">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h2>Our Options</h2>
                        <h5>Our menu is carefully selected daily with fresh ingredients</h5>
                        <div class="fakeimg">

                            <div class="menu">
                              <table id="menuMain" class="menu_items">
                                <h3 id="tabHead">Mains</h3>
                                <tbody>
                                  {% for row in meal_list %}
                                  <tr>
                                    <td style="width: 15%">{{row[0]}}</td>
                                    <td style="width: 50%">{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>

                              <table id="menuDess" class="menu_items">
                                <h3 id="tabHead">Desserts</h3>
                                <tbody>
                                   {% for row in dessert_list %}
                                   <tr>
                                     <td style="width: 15%">{{row[0]}}</td>
                                     <td style="width: 50%">{{row[1]}}</td>
                                     <td>{{row[2]}}</td>
                                   </tr>
                                   {% endfor %}
                                </tbody>
                              </table>

                                    <table id="menuDrink" class="menu_items">
                                    <h3 id="tabHead">Drinks</h3>
                                    <tbody>
                                      {% for row in drink_list %}
                                      <tr>
                                        <td style="width: 15%">{{row[0]}}</td>
                                        <td style="width: 50%">{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </div>

                        </div>
                        <p>Please ask for the allergens list</p>
                    </div>
                </div>
                <div class="rightcolumn">
                    <div class="card">
                        <div class="menuImg">
                            <img src="/static/img/rest_food1.jpg" alt="Our starred cheff" style="width:auto;height:auto;max-height:250px;padding:5px">
                            <img src="/static/img/rest_food3.jpg" alt="Our starred cheff" style="width:auto;height:auto;max-height:250px;padding:5px">
                            <img src="/static/img/panna-cotta-01.jpg" alt="Our starred cheff" style="width:auto;height:auto;max-height:250px;padding:5px">
                        </div>
                    <a href="order" class="button" id="orderBtn">Place an Order</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
              <a href="#">The Team & Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>