<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header" style="background-image: url(/static/img/banner-bg1.jpg); border-radius: 10px;">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar" style="width:15%;height:15%; padding: 5px"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="#">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="login" style="float:right">Log In</a>
        </div>

        <div class="content">
            <div class="row">
                <div class="leftcolumn">
                    <div class="card">
                        <h2>Our Options</h2>
                        <h5>Our menu is carefully selected daily with fresh ingredients</h5>
                        <div class="fakeimg" style="height:auto;">

                            <div class="menu">
                              <table id="menu" class="menu_items" style="width:100%">
                                <thead>
                                  <tr>
                                    <td>Mains</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for row in meal_list %}
                                  <tr>
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td width="130">
<!--                                      <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-sm">select</a>-->
<!--                                      <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>-->
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>

                                  <thead>
                                  <tr>
                                    <td>Desserts</td>
                                  </tr>
                                    </thead>
                                    <tbody>
                                      {% for row in dessert_list %}
                                      <tr>
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td width="130">
<!--                                          <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-sm">select</a>-->
    <!--                                      <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>-->
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>

                                  <thead>
                                  <tr>
                                    <td>Drinks</td>
                                  </tr>
                                    </thead>
                                    <tbody>
                                      {% for row in drink_list %}
                                      <tr>
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td width="130">
<!--                                          <a href="/edit/{{row[0]}}" class="btn btn-secondary btn-sm">select</a>-->
    <!--                                      <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">delete</a>-->
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>

                              </table>
                            </div>

                        </div>
                        <p>Please ask for the allergens list</p>
                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                </div>
                <div class="rightcolumn">
                    <div class="card">
                        <h2>Chi siamo</h2>
                        <div class="fakeimg" style="height:100px;">Image</div>
                        <p>One of the finest Michelin-starred restaurants in Dublin, noted as much for its conviviality as the quality of its food.</p>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>