<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Logo"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="#">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="login" style="float:right">Log In</a>
        </div><br>

        <div class="content">
            <div class="card">
                <div class="contacts">
                    <h2>Please contact us for Booking a table</h2><br>
                    <p>Reggio Cantina Dublin, 25 Grafton Street, Dublin 02, Ireland</p>
                    <p>Telephone: <a href="tel:+353 1 123 4567">+353 1 123 4567</a></p>
                    <p>Email: <a href="reggio@reggio.cantina.ie">reggio@reggio.cantina.ie</a></p><br>
                    <h3>Reggio Cantina Opening Times</h3>
                    <p>Monday - Friday 5pm - late</p>
                    <p>Saturday & Sunday 1pm - late</p><br>
                    <h3>Why not sign up to our newsletter and discounts?</h3><br>
                    <a href="/signup" id="contactSign">Sign Up</a><br><br>
                </div>
            </div>
        </div>

        <div class="footer">
              <a href="#">The Team & Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>