<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header" style="background-image: url(/static/img/banner-bg1.jpg); border-radius: 10px;">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar" style="width:15%;height:15%; padding: 5px"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="#">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="/" style="float:right">Sign Up</a>
        </div><br>

        <div class="content">
            This will be Reservations content
            {{cal}}
        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>