<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header" style="background-image: url(/static/img/banner-bg1.jpg); border-radius: 10px;">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar" style="width:15%;height:15%; padding: 5px"></a>
        </div><br>

        <div class="topnav">
          <a href="#">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="login" style="float:right">Log In</a>
        </div><br>

        <div class="content">
            <div class="row">
                <div class="leftcolumn">
                    <div class="rowImg">
                        <div class="restImages">
                            <img src="/static/img/rest1.jpg" style="width:100%">
                            <img src="/static/img/rest2.jpg" style="width:100%">
                            <img src="/static/img/rest3.jpg" style="width:100%">
<!--                            <img src="/static/img/rest4.jpg" style="width:100%">-->
                        </div>
                        <div class="restImages">
                            <img src="/static/img/rest5.jpg" style="width:100%">
                            <img src="/static/img/rest6.jpg" style="width:100%">
                            <img src="/static/img/rest_food1.jpg" style="width:100%">
                            <img src="/static/img/adega1.jpg" style="width:100%">
                        </div>
                    </div>
                </div>


                <div class="rightcolumn">
                    <div class="card">
                        <div class="images">
                            <p><b>Reggio Cantina</b>, is a small and friendly trattoria where we prepare our dishes in Calabria style.</p>
                            <p>Well located in Dublin's heart at Grafton St. with a elegant decoration and a hint of what the italians calls 'La casa da nona' which means grandmother's house. Where you feel embraced and have food made with lots of love</p>
                            <p>La cucina povera has fed the inhabitants for generations. Translated loosely to “cooking of the poor” or “peasant food,” la cucina povera in Calabria makes the best out of cheap and widely available ingredients, highlighting the ingenuity of the poor Italian cooks who create the dishes.</p>
                            <p>And while “peasant food” can be a common theme throughout all Italian cuisine, in Calabria, it’s accompanied by a carefree attitude—and plenty of Calabrian chili peppers, which can be found stateside in markets packed into jars with oil.</p>
                            <ol>'Nduja</ol>
                            <ol>Frittole</ol>
                            <ol>Tropea Onions</ol>
                            <ol>Fish and Seafood</ol>
                            <ol>Licorice</ol>
                            <p><b>Other Popular Calabria Dishes</b></p>
                            <p>It’s impossible to list every single food or dish enjoyed by locals and tourists alike. The above list is merely a sampling of what’s possible in Calabria.
                            <p>Other dishes popular in the region include lagane e cicciari, wide ribbons of pasta cooked with chickpeas and rosemary; ravioli Calabrese, a mix of Provola cheese, soppressata salumi and pecorino in a spicy tomato sauce; pitta, a pie-like baked dish filled with local meats, cheeses, and vegetables; licurida, a simple soup made with seasonal veggies and Tropea onions; and Calabrian stuffed aubergines, eggplant hollowed out into halves and stuffed with pecorino, bread, eggs, parsley, garlic, and covered with tomato sauce.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>