<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="login" style="float:right">Login</a>
        </div>

        <div class="form">
            <div style = "display:block" id="signDv">
                <form action="{{url_for('signup')}}" method="POST" id="signupForm">
                  <br/>
                  <input placeholder="First name" type="text" name="fname"><br/>
                  <br/>
                  <input placeholder="Last name" type="text" name="lname"><br/>
                  <br/>
                  <input placeholder="Email" type="email" name="email"><br/>
                  <br/>
                  <input placeholder="Mobile" type="text" name="phone"><br/>
                  <br/>
                  <input placeholder="Address" type="text" name="address"><br/>
                  <br/>
                  <input placeholder="Password" name="pwd" type="password" id="pwd"><br/><br/>
                  <input placeholder="Confirm Password" name="pwdC" type="password" id="pwdC"><br/><br/>
<!--                  <input type="submit" value="Confirm" id="erlbtn">-->
                  <button type="submit" value="Confirm" id="submtbtn" onclick="refreshPage()">Submit</button>
                </form>
            </div><br>
        </div>

        <div class="footer">
              <a href="#">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>
        function password() {
            let x = document.getElementById("pwd");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
            }

    </script>
    </body>
</html>