<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Staff - Reggio Cantina</title>
        <link rel="shortcut icon" href="/static/img/logo.jpg.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    <style>

    </style>
    </head>
        <body>

        <div class="header">
          <a href="/"><img src="/static/img/logo.jpg.png" alt="Restaurants Bar" style="width:15%;height:15%; padding: 5px"></a>
        </div><br>

        <div class="topnav">
          <a href="restaurant">Restaurant</a>
          <a href="menu">Menus</a>
          <a href="reservation">Reservations</a>
          <a href="findus">Find Us</a>
          <a href="admin" style="float:right">Back</a>
        </div><br>

        <div class="content">
            <div class="card" style="margin-left: auto; margin-right: auto">
              <h2 style="text-align: left;">Staffs List</h2>
                <div class="contacts" style="width: 100%">
                  <table class="subcard" id="subcard1">
                      <tbody style="width: 100%">
                        {% for row in staffList %}
                         <tr>
                             <td style="width: 25%">{{row[0]}}</td>
                             <td style="width: 25%">{{row[1]}}</td>
                             <td style="width: 25%">{{row[2]}}</td>
                             <td style="width: 25%">{{row[3]}}</td>
                         </tr>
                         {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>

        </div>

        <div class="footer">
              <a href="addstaff">The Team</a> |
              <a href="#">Careers</a> |
              <a href="#">Contact Us</a>
        </div>
    <script>


    </script>
    </body>
</html>